/* Works Sans font from google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

/* Shared style */

.btn-primary {
  font-size: 18px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #ff900e;
  margin-bottom: 40px;
  margin-top: 20px;
}

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 40px;
  cursor: pointer;
  font-size: 15px;
  color: #424242;
}

li:hover {
  color: #ff900e;
}

.nav-title {
  color: #131313;
  text-align: center;
  font-size: 1.9rem;
}

/* banner */

.home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content {
  max-width: 820px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.home-title {
  font-size: 4rem;
  padding-bottom: 16px;
}

.home-disc {
  color: #727272;
  padding-bottom: 13px;
}

.img {
  width: 100%;
}

/* Feature */

main {
  max-width: 1440px;
  margin: 80px auto;
  padding: 0 240px;
}

/* section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 240px;
  max-width: 820px;
} */

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
}
.right {
  padding-left: 70px;
  padding-right: 70px;
}

.right-title {
  color: #727272;
  width: 500px;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 14px;
}

.right {
  width: 537px;
  color: #727272;
  font-size: 15px;
}

.strong1 {
  color: #131313;
}

.strong2 {
  color: #ff900e;
}

/* mobile responsive for banner */

@media screen and (max-width: 578px) {
  header {
    padding: 20px;
  }

  main {
    padding: 20px;
  }

  .right {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }

  .right-title {
    font-size: 2.4rem;
    width: 250px;
    margin: 0 auto;
    padding-top: 40px;
  }

  nav,
  .section {
    flex-direction: column;
  }

  ul {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  li {
    padding-left: 20px;
  }

  .left {
    grid-template-columns: 1fr;
    padding-left: 50px;
  }

  .right-disc{
    width: 400px;
    margin: 0 auto;
  }
}
/* responsive for medium and tablet */

@media screen and (min-width: 578px) and (max-width: 1070px) {
  header {
    padding: 100px;
  }

  img {
    width: 260px;
  }
  nav {
    flex-direction: column;
  }
  .section {
    flex-direction: column;
    gap: 20px;
  }

 

  ul {
    padding-top: 40px;
  }
}

@media screen and (max-width: 1370px) {
  .section {
    flex-direction: column;
  }
  .right{
    padding-top: 40px;
    
  }
}
